.collection-preview {
  padding-top: 4rem;
  padding-left: 2vw;
  padding-right: 2vw;
  display: block;
  margin: 0 auto;
}

.coll-title {
  opacity: 0.25;
  font-size: 3.5vw;
}

.coll-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.3rem;
}

@media (min-width: 1350px) {
  .coll-title {
    font-size: 3rem;
  }
}
