.collection-preview {
  padding-top: 1.5rem;
  padding-left: 2vw;
  padding-right: 2vw;
  display: block;
  margin: 0 auto;
}

.coll-title {
  opacity: 0.25;
  font-size: 3.5vw;
}

.coll-item-list,
.coll-item-list-long {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.3rem;
}

.coll-item-list-long::after {
  content: "";
  flex: auto;
}

@media (min-width: 1350px) {
  .coll-title {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  // .collection-preview {
  //   padding-top: 6rem;
  // }
}
