.collection-preview {
  padding: 4rem 4rem 0 4rem;
}

.coll-title {
  opacity: 0.25;
  font-size: 3rem;
}

.coll-item-list {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
  margin-top: 1.3rem;
}
