.coll-item {
  height: 24vw;
  max-height: 320px;
  width: 23%;
  margin-bottom: 2.5rem;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);

  &:hover {
    scale: 1.07;
  }
}

.coll-item-image {
  position: relative;
  bottom: 30%;
  right: 7%;

  width: 15vw;
  height: 15vw;
  background-size: cover;
  margin: auto;
  overflow: visible;
}

.coll-item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.coll-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divDummy {
  height: 50%;
  width: 60%;
  margin: auto;
}

.coll-lower {
  height: 50%;
  margin: 0 13% 9% 13%;
}

.coll-item-name,
.coll-item-price {
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-item {
  position: relative;
  width: 102%;
  right: 1%;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 1rem;
  color: #fff;
}

@media (min-width: 1350px) {
  .coll-item-image {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1080px) {
  .coll-item-name,
  .coll-item-price {
    font-size: 1.5rem;
  }

  .btn-item {
    height: 2.5rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .coll-item {
    width: 320px;
    height: 330px;
  }

  .coll-item-image {
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
  }

  .btn-item {
    height: 3rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 414px) {
  .coll-item {
    height: 80vw;
    max-height: 320px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  }
}
