@import "../../scss/config.styles";

.shopping-icon {
  position: relative;
  display: inline-block;
  right: 10px;
  width: 24px;
}

.item-count {
  position: relative;
  display: inline-block;
  background-color: $secondary-color;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 0.7rem;
  font-weight: lighter;
  text-align: center;
  left: 21px;
  padding-top: 2px;
  z-index: 1;
}
