.coll-page-items {
  flex-wrap: wrap;
  gap: 2.2vw;
  padding: 0 2vw;
}

.coll-page-title {
  opacity: 0.25;
  font-size: 3.5vw;
  padding-left: 1.3rem;
}

.empty-coll-title {
  margin: 6rem 0;
  text-align: center;
}

@media (min-width: 1350px) {
  .coll-page-items {
    gap: 25px;
  }
}
