.cart-dropdown {
  position: absolute;
  z-index: 2;
  margin-top: 1rem;
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);

  .cart-dropdown-items {
    width: 80%;
    margin: 24px auto;
  }

  .cart-dropdown-btn {
    height: 3.5rem;
    color: #fff;
    display: block;
    border-style: none;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.2rem;
    font-size: 1.2rem;
  }
}

.cart-items-empty {
  display: inline-block;
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 0.5rem;
}

@media (max-width: 1350px) {
  .cart-dropdown {
    right: 2vw;
  }
}

@media (max-width: 414px) {
  .cart-dropdown {
    right: 0vw;

    width: 100vw;

    .cart-dropdown-items {
      width: 85%;
    }

    .cart-dropdown-btn {
      width: 85%;
    }
  }
}
