@import "../../scss/config.styles";

.directory-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  margin: auto;
  padding-top: 4.5rem;
  padding-left: 2vw;
  padding-right: 2vw;
}

.swiper-pagination-bullet-active {
  background-color: $alternative-color !important;
}
