// @import "../../scss/config.styles";
// @import "../../scss//utilities.styles";

.directory-menu {
  display: flex;
  justify-content: space-around;
  max-width: 1350px;
  margin: auto;
  padding-top: 2rem;
}
