@media (max-width: 767px) {
  .coll-item-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coll-item-wrapper-wrapper {
    width: 96%;
  }

  .coll-title {
    font-size: 2rem;
    position: relative;
    top: 25px;
    padding-left: 1.5rem;
  }

  .rando {
    height: 400px;
  }
}
