@import "../../scss/config.styles";

@media (max-width: 767px) {
  .coll-item-wrapper {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coll-item-wrapper-wrapper {
    width: 100%;
  }

  .coll-title {
    font-size: 2rem;
    position: relative;
    top: 25px;
    padding-left: 0.9rem;
    z-index: 2;
  }

  .coll-item-contentino {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 15% 0 9% 0;
    font-weight: lighter;
    font-size: 1.5rem;
  }

  .bg-alt {
    background-color: $alternative-color;
  }

  .rando {
    height: 400px;
  }

  .swiper {
    padding-left: 2vw;
  }

  .btn-last-slide {
    width: 100%;
    height: 4rem;
    border: solid 1px $secondary-color;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #fff;
  }

  .btn-last-slide-wrapper {
    width: 100%;
  }
}
