@import "../../scss/_config.styles";

.menu-item {
  width: 100%;
  background-color: #fff;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  // margin: 2.5rem 1rem;
  margin: 2.5vw 1.2vw;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3.5vw;
    font-size: 2.7vw;
    font-weight: lighter;
  }
}

.big {
  height: 25vw;
  width: 50%;
  max-height: 350px;

  .title {
    // font-size: 2.8vw;
    // font-size: 2.25rem;
    word-spacing: 1000px;
  }

  .content {
    padding-left: 0.2rem;
  }
}

.small {
  // height: 26vw;
  height: 365px;
  width: 31%;
  flex-direction: column;

  .content {
    gap: 0.8rem;
  }

  .imgCont {
    width: 100%;
  }
}

.smImg {
  display: block;
  margin: auto;
  width: 20%;
}

.btn {
  width: 15vw;
  height: 25%;
  background-color: $secondary-color;
  border: none;
  border-radius: 5px;
  font-size: 2vw;
  color: #fff;
}

.btn-sm {
  width: 100%;
  height: 3rem;
}

@media (min-width: 1350px) {
  .menu-item {
    margin: 2.5rem 1rem;

    .content {
      margin: 3rem;
      font-size: 2.25rem;
    }

    .btn {
      font-size: 2rem;
    }
  }

  .big {
    .btn {
      // width: 13.7rem;
      font-size: 1.8rem;
    }
  }
  .btn-bg {
    width: 13.75rem;
  }

  .small {
    height: 365px;
    margin: 2.5rem 0.5rem;
  }
}

// @media (max-width: 960px) {

// }
