.register {
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem 0 1.5rem 0;
  -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.25);
}

// .register-cont {
//   position: relative;
//   min-height: 80vh;
//   padding-bottom: 2rem;
// }

.signup-form {
  width: 73%;
  margin: auto;
}

.btn-create-acc {
  position: relative;
  width: 104%;
  right: 2%;
  height: 50px;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
  border-radius: 10px;
}

.register-small-text {
  font-weight: lighter;
  margin-top: 1.5rem;
}
