body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  max-width: 1350px;
  margin: 0 auto;
  background-color: #ffcacd;

  min-height: 100vh;
  padding-bottom: 60px;
  position: relative;
}

.directory-cont {
  padding-bottom: 60px;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
