@import "./config.styles";

.btn {
  background-color: $secondary-color;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $alternative-color;
    color: #000;
  }
}

@media (min-width: 1350px) {
  .btn {
    font-size: 2rem;
  }
}
